body, html {
    height: 100%;
    background-image: radial-gradient(circle, #0cca98, #00a0ac, #0073a3, #18447a, #331940);
    overflow-x: hidden;
    padding-top: 55px;
}

.piece-image img {
    width: 100px;
}

#piece_container {
    margin: 0 10px 0 10px;
}

@media only screen and (max-width: 900px) {
    .piece-image img {
        width: 50px;
    }

    /* #logo img {
        width: 70%;
    } */

    #logo {
        text-align: center;
    }
}